.Login {
  padding: 60px 0;
}

.Login form {
  margin: 0 auto;
  max-width: 320px;
}

.Modal {
  padding: 60px 0;
}

.Modal form {
  margin: 0 auto;
  max-width: 320px;
}

.Modal button {
  float: 'right';
}

.thread-exit {
  position: relative;
  top: -9em;
}


textarea {
  resize: none;
}
