<!DOCTYPE html>
<html>
<head>
	<title> Composer Profile </title>
</head>
<body>
	<div class="user-profile">
    <div class="user-name">
      <div>Username</div>
      <div><img src="">Profile Pic</div>
    </div>
    <div class="about-me">
    	<h3>About me</h3>
    	<p>Text</p>
    </div>
    <div class="recent-tracks">
    	<h3> Recent Tracks </h3>
    	<ol class="track-list">
    		<li>
          Ed Sheeran - Shape of You
    		</li>
    	</ol>
    </div>
    <div class="collaboration">
      <h3> Collaborations </h3>
      <div>
      	Collaboration
      </div>
    </div>
    <div class="albums">
    	<h3> Albums </h3>
    	<div>
    		Albums
    	</div>
    </div>
	</div>
</body>
</html>