<!DOCTYPE html>
<html>
<head>
  <title>BEAM</title>
</head>
<body>
  <form>
    <input type="text" />
    <input type="submit" value="Search" />
  </form>
  <a href="#">Create new post</a>
  <div class="post-table">
    <div class="post-summary">
      <h3>Title of the post 1</h3>
      <p>Description of the post 1</p>
      <p>Username 1</p>
    </div>
    <div class="post-summary">
      <h3>Title of the post 2</h3>
      <p>Description of the post 2</p>
      <p>Username 2</p>
    </div>
  </div>
</body>
</html>
