<!DOCTYPE html>
<html>
<head>
  <title>BEAM</title>
</head>
<body>
  <div class="post">
    <input type="submit" value="Reply"/>
    <h1>Title</h1>
    <p class="description">
      Description
    </p>
    <table class="instruments">
      <tr>
        <th>Instruments</th>
      </tr>
      <tr>
        <td>instrument 1</td>
      </tr>
      <tr>
        <td>instrument 2</td>
      </tr>
    </table>
    <div class="music-sheet">
      Sheet music: <img class="music-sheet-img" />
    </div>
  </div>
</body>
</html>
